* {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    background-color: beige;
    position: relative;
}

#logo-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 218px;
    height: 174px;
    border: 1px solid black;
}

#nav-bar {
    padding-top: 20px;
    overflow: hidden;
    border: 1px solid black;
    margin: 50px auto 0px;
    width: 90%;
}

#nav-bar li {
    float: left;
    margin-inline-start: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    padding: 14px 16px;
    text-decoration: none;

}

@media screen and (max-width: 600px) {
    #nav-bar {
        background-color: dimgray;
        color: beige;
        padding-right: 50px;
        width: 80%;
    }

    #nav-bar li {
        float: none;
        border-bottom: 1px solid black;
        text-align: center;
        margin-top: 0;
        margin-bottom: 5px;
    }

}


#carousel-nav {
    display: block;
    margin: 50px auto 0px;
    height: 500px;
    width: 90%;
    border: 1px solid blue;
}

.container-footer {
    position: relative;
    margin: 50px auto 0px;
    width: 90%;
    /*     border: 1px solid green;
 */
    box-sizing: border-box;
    display: flex;
    justify-content: center;



}

#horario-footer {

    width: 600px;
    height: 350px;
    margin-right: 20px;
    border: 1px solid green;
}

#service-footer {
    width: 600px;
    height: 350px;
    margin-right: 20px;

    border: 1px solid green;
}

#contact-footer {

    display: inline-block;
    width: 600px;
    height: 350px;
    border: 1px solid green;
}